<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Detail</title>
</head>
<body>
    <h1>Order Detail</h1>

    <p>Order No: <%= order.order_no %></p>
    <p>Invoice No: <%= order.invoice_no %></p>

    <p>Items:</p>

    <ul>
        <% order.items.forEach((item) => { %>
            <li><%= item.name %> - <%= item.price %></li>
        <% }) %>
    </ul>
</body>
<footer>
    <%- include('../partials/footer'); %>
</footer>
</html>